{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '.styles/test.css' %}">
    <!-- <script src="./my.js"></script> -->
</head>
<body class="body">
    
    <h2>Это текстовая страница</h2>
    <ul>
        <li>Открываем статистические файлы  в папке main.(стили,медиа)</li>
        <li>название папки должно быть "static"</li>
        <li>Что бы потключиться к статистическому файлу в html документе самом верху должны записать {% load static%} </li>
        <li> link rel="stylesheet" href="{% static 'styles/test.css' %}"</li>
        <li> В settings.py пишем "STATIC_URL = '/static/'    STATIC_ROOT = BASE_DIR / 'static'</li>
      
    </ul>
   
</body>
</html>